<!DOCTYPE html>
<html>

<head>
    <title>Halaman Berita</title>
    <link rel="icon" href="/img/imgg.png">
    <link rel="stylesheet" href="/css/style.css">
</head>

<body>
    <div class="main-content">
        {{>header}}
        <h2>{{judul}}</h2>
        <div class="berita-list">
            {{#each berita}}
            <div class="berita-item">
                <h3>{{title}}</h3>
                <p>{{description}}</p>
                <a href="{{url}}" target="_blank">Baca selengkapnya</a>
            </div>
            {{/each}}
        </div>
    </div>
    {{>footer}}
</body>

</html>